<!-- <h2>{{ group.owner.first_name }} {{ group.owner.last_name }}</h2>
<b>{{ group.car.car_name }}</b>
<br/>
<b>{{ group.car.car_number }}</b>
<br/><br/><br/><br/>
<form method="post">
    {% csrf_token %}
    <b>{{ form.start_point.label }}</b> : {{ form.start_point }}
    <br/>
    {{ form.start_point.help_text }}
    <br/><br/>
    <b>{{ form.end_point.label }}</b> : {{ form.end_point }}
    <br/>
    {{ form.end_point.help_text }}
    <br/><br/>
    <b>{{ form.trip1_intermediate_points.label }}</b> : {{ form.trip1_intermediate_points }}
    <br/>
    {{ form.trip1_intermediate_points.help_text }}
    <br/><br/>
    <b>{{ form.trip2_intermediate_points.label }}</b> : {{ form.trip2_intermediate_points }}
    <br/>
    {{ form.trip2_intermediate_points.help_text }}
    <br/><br/>
    <b>{{ form.seats_offered.label }}</b> : {{ form.seats_offered }}
    <br/>
    {{ form.seats_offered.help_text }}
    <br/><br/>
    <b>{{ form.pay_status.label }}</b> : {{ form.pay_status }}
    <br/>
    {{ form.pay_status.help_text }}
    <br/><br/>
    <b>{{ form.trip1_time.label }}</b> : {{ form.trip1_time }}
    <br/>
    {{ form.trip1_time.help_text }}
    <br/><br/>
    <b>{{ form.trip2_time.label }}</b> : {{ form.trip2_time }}
    <br/>
    {{ form.trip2_time.help_text }}
    <br/><br/>
    <input type="submit" value="Configure Ride" name="configure_ride"/>
</form>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Cancel" name="cancel"/>
</form> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Groups</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <style>
.btn {
  background-color: #0377CE;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3680BF;
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.bg-navbar {
    background-color: #0377CE;
}
.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-navbar static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'rides:groups' %}"><b>TcsGO</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'rides:groups' %}">My Groups
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rides:search_ride' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rides:add_ride' %}">Add Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <h2 class="card-title text-center">{{ group.owner.first_name }} {{ group.owner.last_name }}</h2>
    <b>{{ group.car.car_name }}</b>
    <br/>
    <b>{{ group.car.car_number }}</b>
    <br/><br/>
    <div class="w3-panel w3-card">
      <div class="form-group">
        <form class="form-signin" method="post">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
              </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-label-group">
                  {{ field }}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  <br>
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
                <hr>
            {% endfor %}
            <!-- <b>{{ form.start_point.label }}</b> : {{ form.start_point }}
            <br/>
            {{ form.start_point.help_text }}
            <br/><br/>
            <b>{{ form.end_point.label }}</b> : {{ form.end_point }}
            <br/>
            {{ form.end_point.help_text }}
            <br/><br/>
            <b>{{ form.trip1_intermediate_points.label }}</b> : {{ form.trip1_intermediate_points }}
            <br/>
            {{ form.trip1_intermediate_points.help_text }}
            <br/><br/>
            <b>{{ form.trip2_intermediate_points.label }}</b> : {{ form.trip2_intermediate_points }}
            <br/>
            {{ form.trip2_intermediate_points.help_text }}
            <br/><br/>
            <b>{{ form.seats_offered.label }}</b> : {{ form.seats_offered }}
            <br/>
            {{ form.seats_offered.help_text }}
            <br/><br/>
            <b>{{ form.pay_status.label }}</b> : {{ form.pay_status }}
            <br/>
            {{ form.pay_status.help_text }}
            <br/><br/>
            <b>{{ form.trip1_time.label }}</b> : {{ form.trip1_time }}
            <br/>
            {{ form.trip1_time.help_text }}
            <br/><br/>
            <b>{{ form.trip2_time.label }}</b> : {{ form.trip2_time }}
            <br/>
            {{ form.trip2_time.help_text }}
            <br/><br/> -->
            <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="Configure Ride" name="configure_ride"/>
            <input type="submit" class="btn btn-lg btn-danger btn-block text-uppercase" value="Cancel" name="cancel"/>
        </form>
      </div>
    </div>
</div>


</body>
</html>
