<!-- <h2>Your Group</h2>
<b>{{ group.car.car_name }}</b>
<br/>
<b>{{ group.car.car_number }}</b>
<br/>
<h2>Your Requests</h2>
{% if requests %}
    {% for request in requests %}
        <u><b>{{ forloop.counter }}.)</b>
        {% if request.trip_type == 1 %}
            <b>Enroute</b>
        {% else %}
            <b>Return</b>
        {% endif %}
        </u>
        <br/>
        <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>
        <br/>
        <b>Requested Point : </b> {{ request.point.point_name }}
        <br/>
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name="request_id" value="{{ request.id }}"/>

            {% if request.trip_type == 1 %}
                {% if available_seats_trip1 != 0 %}
                    <input type="submit" value="Accept" name='accept_request'/>
                {% endif %}
            {% else %}
                {% if available_seats_trip2 != 0 %}
                    <input type="submit" value="Accept" name='accept_request'/>
                {% endif %}
            {% endif %}

            <input type="submit" value="Reject" name='reject_request'/>
        </form>
        <br/>
    {% endfor %}
{% else %}
    <b>You dont have any requests for this group</b>
{% endif %}

<h2>Enroute</h2>
<b>Ride Availability</b> : {{ trip1_status }}
<br/>
{% if trip1_status == 'Available' %}
    <b>Starting Point</b> : {{ group.start_point.point_name }} <br/>
    <b>Starting Time</b> : {{ group.trip1_time }} <br/>
    <b>Payment Status</b> :
    {% if group.pay_status == 0 %}
        No Pay
    {% else %}
        paid
    {% endif %}
    <br/>
    <b>Seats Offered</b> : {{ seats_offered }}
    <br/>
    <b>Seats Remaining</b> : {{ available_seats_trip1 }}
    <br/>
    {% if trip1_members %}
        <b>Pool members :</b>
        <br/>
        {% for member in trip1_members %}
            {{ forloop.counter }}. {{member.user.first_name}} {{ member.user.last_name }}
            <br/>
            <form method="post">
                {% csrf_token %}
                <input type='hidden' name="member_id" value="{{ member.id }}"/>
                <input type="submit" value="Remove" name='remove_member'/>
            </form>
        {% endfor %}
        <br/>
    {% endif %}
{% endif %}
<form action="{% url 'rides:configure_ride' group.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Configure"/>
</form>

<h2>Return</h2>
<b>Ride Availability</b> : {{ trip2_status }}
<br/>
{% if trip2_status == 'Available' %}
    <b>Destination</b> : {{ group.end_point.point_name }} <br/>
    <b>Starting Time</b> : {{ group.trip2_time }} <br/>
    <b>Payment Status</b> :
    {% if group.pay_status == 0 %}
        No Pay
    {% else %}
        paid
    {% endif %}
    <br/>
    <b>Seats Offered</b> : {{ seats_offered }}
    <br/>
    <b>Seats Remaining</b> : {{ available_seats_trip2 }}
    <br/>
    {% if trip2_members %}
        <b>Pool members :</b>
        <br/>
        {% for member in trip1_members %}
            {{ forloop.counter }}. {{member.user.first_name}} {{ member.user.last_name }}
            <br/>
            <form method="post">
                {% csrf_token %}
                <input type='hidden' name="member_id" value="{{ member.id }}"/>
                <input type="submit" value="Remove" name='remove_member'/>
            </form>
        {% endfor %}
        <br/>
    {% endif %}
{% endif %}
<form action="{% url 'rides:configure_ride' group.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Configure"/>
</form> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Groups</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
.btn {
  background-color: #0377CE;
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3680BF;
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
</style>
</head>
<body>

<nav class="navbar navbar-inverse" style="background-color :#0377CE;border : none; ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand btn"  href="{% url 'rides:groups' %}"><b>TcsGO</b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" style="float:right;">
      <ul class="nav navbar-nav">
        <li class="btn" ><a href="{% url 'rides:search_ride' %}">Search</a></li>
        <li class="btn"><a href="{% url 'rides:add_ride' %}">Add Ride</a></li>
        <li class="btn"><a href="{% url 'logout' %}">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>


<h3>Your Group</h3>
<b>{{ group.car.car_name }}</b>
<br/>
<b>{{ group.car.car_number }}</b>
<br/>
<div class="w3-bar" style="background-color :#0377CE; margin-top: -1%; padding-top: 0;" >
  <button class="btn" onclick="displayChhoice('Enroute')">Enroute</button>
  <button class="btn" onclick="displayChhoice('Return')">Return</button>
  <button class="btn" onclick="displayChhoice('Requests')">Requests</button>
</div>

<div id="Enroute" class="w3-container ownerOption">
<div class="w3-container">
<b>Ride Availability</b> : {{ trip1_status }}
<div class="w3-panel w3-card">
{% if trip1_status == 'Available' %}
    <b>Starting Point</b> : {{ group.start_point.point_name }} <br/>
    <b>Starting Time</b> : {{ group.trip1_time }} <br/>
    <b>Payment Status</b> :
    {% if group.pay_status == 0 %}
        No Pay
    {% else %}
        paid
    {% endif %}
    <br/>
    <b>Seats Offered</b> : {{ seats_offered }}
    <br/>
    <b>Seats Remaining</b> : {{ available_seats_trip1 }}
    <br/>
    {% if trip1_members %}
        <b>Pool members :</b>
        <br/>
        {% for member in trip1_members %}
            <font size ="3"><b>{{ forloop.counter }}. {{member.user.first_name}} {{ member.user.last_name }}</b></font>
            <form method="post">
                {% csrf_token %}
                <input type='hidden' name="member_id" value="{{ member.id }}"/>
                <input type="submit" class="btn btn-danger" value="Remove" name='remove_member'/>
            </form>
        {% endfor %}
        <br/>
    {% endif %}
{% endif %}
<form action="{% url 'rides:configure_ride' group.id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Configure"/>
    <input type="submit" class="btn btn-primary" value="Start Ride"/>
</form>
</div>
</div>
</div>


<div id="Return" class="w3-container ownerOption" style="display:none">
<div class="w3-container">
<b>Ride Availability</b> : {{ trip2_status }}
<div class="w3-panel w3-card">
{% if trip2_status == 'Available' %}
    <b>Destination</b> : {{ group.end_point.point_name }} <br/>
    <b>Starting Time</b> : {{ group.trip2_time }} <br/>
    <b>Payment Status</b> :
    {% if group.pay_status == 0 %}
        No Pay
    {% else %}
        paid
    {% endif %}
    <br/>
    <b>Seats Offered</b> : {{ seats_offered }}
    <br/>
    <b>Seats Remaining</b> : {{ available_seats_trip2 }}
    <br/>
    {% if trip2_members %}
        <b>Pool members :</b>
        <br/>
        {% for member in trip2_members %}
            <font size ="3"><b>{{ forloop.counter }}. {{member.user.first_name}} {{ member.user.last_name }}</b></font>
            <form method="post">
                {% csrf_token %}
                <input type='hidden' name="member_id" value="{{ member.id }}"/>
                <input type="submit" class="btn btn-danger" value="Remove" name='remove_member'/>
            </form>
        {% endfor %}
        <br/>
    {% endif %}
{% endif %}
<form action="{% url 'rides:configure_ride' group.id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Configure"/>
    <input type="submit" class="btn btn-primary" value="Start Ride"/>
</form>
</div>
</div>
</div>

<div id="Requests" class="w3-container ownerOption" style="display:none">
{% if requests %}
    {% for request in requests %}
        <div class="w3-card-4" style="width:80%; margin-left:10%; margin-top:.5%;" >
        <div class="w3-container w3-center">
        {% if request.trip_type == 1 %}
            <h3>Enroute</h3>
        {% else %}
            <h3>Return</h3>
        {% endif %}
        <h5>{{ request.user.first_name }} {{ request.user.last_name }}</h5>
        <b>Requested Point : </b> {{ request.point.point_name }}
        <br/>
        <div class="w3-section">
        <form method="post">
            {% csrf_token %}
            <input type='hidden' name="request_id" value="{{ request.id }}"/>

            {% if request.trip_type == 1 %}
                {% if available_seats_trip1 != 0 %}
                    <input type="submit" class="w3-button w3-green" value="Accept" name='accept_request'/>
                {% endif %}
            {% else %}
                {% if available_seats_trip2 != 0 %}
                    <input type="submit" class="w3-button w3-green" value="Accept" name='accept_request'/>
                {% endif %}
            {% endif %}

            <input type="submit" class="w3-button w3-red" value="Reject" name='reject_request'/>
        </form>
        </div>
        </div>
        </div>
    {% endfor %}
{% else %}
    <b>You dont have any requests for this group</b>
{% endif %}
</div>



<script>
function displayChhoice(ownerChoice) {
    var i;
    var x = document.getElementsByClassName("ownerOption");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(ownerChoice).style.display = "block";
}
</script>

</body>
</html>
