<h1>Your Group</h1>
<br/>
<h2>{{ group.car.car_name }}
<br/>
{{ group.car_number }}
</h2>
<br/>
<br/>

<form action="{% url 'rides:manage_request' group.id %}">
    <input type="submit" value="Requests" />
</form>

<h3>Enroute</h3>
<br/>
<form action="{% url 'rides:configure_ride' group.id %}" method="post">
    {% csrf_token %}
    <b>Start Point : </b>
    <select name="start_point">
    {% for point in points %}
        <option value="{{ point.id }}">{{ point.point_name }}</option>
    {% endfor %}
    </select>
    <br/>

    <b>Seats offered : </b>
    <select name="seats_offered">
    {% for choice in choices in points %}
        <option value="{{ choice }}">{{ choice }}</option>
    {% endfor %}
    </select>
    <br/>


    <input type="submit" value="Request Ride"  />
</form>
