<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Groups</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <style>
.btn {
  background-color: #0377CE;
  border: none;
  color:white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover {
  background-color: #3680BF;
  color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.bg-navbar {
    background-color: #0377CE;
}
.jumbotron{
    position: relative;
    padding:0 !important;
    background: #0377CE;
    color: white;
    text-align:center;
    margin-bottom: 0 !important;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-navbar static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'rides:groups' %}"><b>TcsGO</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'rides:groups' %}">My Groups
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rides:search_ride' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'rides:add_ride' %}">Add Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid">
    <h2 class="display-4" style="margin-top:0px">{{ group.owner.first_name }} {{ group.owner.last_name }}</h2>
    <h3>{{ group.car.car_name }}</h3>
    <b>{{ group.car.car_number }}</b>
    <div class="navbar navbar-expand-sm navbar-light bg-light" style="background-color :#0377CE; padding-top: 0;" >
      <div class="container" id="swap-bar">
        <div class="row">
          <div class="col-sm-4" align="center">
            <button class="btn btn-lg btn-primary text-uppercase active" onclick="displayChhoice('Requests')">Requests</button>
          </div>
          <div class="col-sm-4" align="center">
            <button class="btn btn-lg btn-primary text-uppercase" onclick="displayChhoice('Enroute')">Enroute</button>
          </div>
          <div class="col-sm-4" align="center">
            <button class="btn btn-lg btn-primary text-uppercase" onclick="displayChhoice('Return')">Return</button>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="container">
  <!-- <div class="jumbotron jumbotron-fluid"> -->

  <!-- </div> -->


  <div id="Requests" class="container ownerOption" align="center">
      <!-- <div class="container"> -->
          {% if user_id in trip2_members %}
              <b>You are already a member in this group</b>
          {% else %}
              {% if requests %}
                  {% for request in requests %}
                    <div class="card">
                      <h3 class="card-header">
                      {% if request.trip_type == 1 %}
                          <b>Enroute</b>
                      {% else %}
                          <b>Return</b>
                      {% endif %}
                      </h3>
                      <div class="card-body">
                        <!-- <div class="col-sm-9"> -->
                          <div class="class="card-text"">
                            <h6 >Requested Point : {{ request.point.point_name }}</h6>
                            <h6 >Starting Time :
                            {% if request.trip_type == 1 %}
                                {{ request.group.trip1_time }}
                            {% else %}
                                {{ request.group.trip2_time }}
                            {% endif %}
                            </h6>
                          </div>
                        <!-- </div> -->
                      <!-- <div class="col-sm-3"> -->
                        <form method="post">
                            {% csrf_token %}
                            <input type='hidden' name="request_id" value="{{ request.id }}"/>
                            <input type="submit" class="btn btn-lg btn-primary btn-block text-uppercase" value="Delete" name='delete_request'/>
                        </form>
                      <!-- </div> -->
                      </div>
                    </div>

                  {% endfor %}
              {% else %}
                  <b>You haven't requested in this group</b>
              {% endif %}
          {% endif %}
    <!-- </div> -->
  </div>



  <div id="Enroute" class="container ownerOption" style="display:none">
      <div class="container">
          <div class="panel card text-center">
              {% if user_id in trip1_members_list %}
                  <b>Starting Point</b> : {{ group.start_point.point_name }} <br/>
                  <b>Starting Time</b> : {{ group.trip1_time }}<br/>
                  <b>Payment Status</b> :
                  {% if group.pay_status == 0 %}
                      No Pay
                  {% else %}
                      paid
                  {% endif %}
                  <br/>
                  <form method="post">
                      {% csrf_token %}
                  {% if trip1_members %}
                      <b>You are pooling with :</b>
                      <br/>
                      {% for member in trip1_members %}
                          {% if member.user.id != user_id%}
                              {{member.user.first_name}} {{ member.user.last_name }}
                              <br/>
                          {% else %}
                              <input type='hidden' name="member_id" value="{{ member.id }}"/>
                          {% endif%}
                      {% endfor %}
                      <br/>
                  {% endif %}
                  {% if group.status == 'trip1'%}
                    {% if user.ride_status == 'idle' %}
                      <input type="submit" class="btn btn-danger" value="Join Ride" name='join_ride'/>
                    {% else %}
                      <input type="submit" class="btn btn-danger" value="End Ride" name='end_ride'/>
                    {% endif %}
                  {% else %}
                      <input type="submit" class="btn btn-danger" value="Leave Group" name='leave_trip'/>
                  {% endif %}
                  </form>
              {% else %}
                  <b>Ride Availability</b> : {{ trip1_status }}
                  <br/>
                  {% if trip1_status == 'Available' %}
                      <b>Starting Point</b> : {{ group.start_point.point_name }} <br/>
                      <b>Starting Time</b> : {{ group.trip1_time }} <br/>
                      <b>Payment Status</b> :
                      {% if group.pay_status == 0 %}
                          No Pay
                      {% else %}
                          paid
                      {% endif %}
                      <br/>
                      <b>Available Seats</b> : {{ available_seats_trip1 }}
                      <br/>
                      {% if trip1_members %}
                          <b>Pooling with :</b>
                          <br/>
                          {% for member in trip1_members %}
                              {% if member.user.id != user_id%}
                                  {{member.user.first_name}} {{ member.user.last_name }}
                                  <br/>
                              {% endif%}
                          {% endfor %}
                          <br/>
                      {% endif %}
                      <form action="{% url 'rides:request_ride' group.id %}" method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary" value="Request"/>
                      </form>
                  {% endif %}
              {% endif %}
          </div>
      </div>
  </div>


  <div id="Return" class="container ownerOption" style="display:none">
      <div class="container">
          <div class="panel card text-center">
              {% if user_id in trip2_members_list %}
                  <b>Destination</b> : {{ group.end_point.point_name }} <br/>
                  <b>Starting Time</b> : {{ group.trip2_time }}<br/>
                  <b>Payment Status</b> :
                  {% if group.pay_status == 0 %}
                      No Pay
                  {% else %}
                      paid
                  {% endif %}
                  <br/>
                  <form method="post">
                      {% csrf_token %}
                  {% if trip2_members %}
                      <b>You are pooling with :</b>
                      <br/>
                      {% for member in trip2_members %}
                          {% if member.user.id != user_id%}
                              {{member.user.first_name}} {{ member.user.last_name }}
                              <br/>
                          {% else %}
                              <input type='hidden' name="member_id" value="{{ member.id }}"/>
                          {% endif%}
                      {% endfor %}
                      <br/>
                  {% endif %}
                  {% if group.status == 'trip2' %}
                    {% if user.ride_status == 'idle' %}
                      <input type="submit" class="btn btn-danger" value="Join Ride" name='join_ride'/>
                    {% else %}
                      <input type="submit" class="btn btn-danger" value="End Ride" name='end_ride'/>
                    {% endif %}
                  {% else %}
                      <input type="submit" class="btn btn-danger" value="Leave Group" name='leave_trip'/>
                  {% endif %}
                  </form>
              {% else %}
                  <b>Ride Availability</b> : {{ trip2_status }}
                  <br/>
                  {% if trip2_status == 'Available' %}
                      <b>Destination</b> : {{ group.end_point.point_name }} <br/>
                      <b>Starting Time</b> : {{ group.trip2_time }} <br/>
                      <b>Payment Status</b> :
                      {% if group.pay_status == 0 %}
                          No Pay
                      {% else %}
                          paid
                      {% endif %}
                      <br/>
                      <b>Available Seats</b> : {{ available_seats_trip2 }}
                      <br/>
                      {% if trip2_members %}
                          <b>Pooling with :</b>
                          <br/>
                          {% for member in trip2_members %}
                              {% if member.user.id != user_id%}
                                  {{member.user.first_name}} {{ member.user.last_name }}
                                  <br/>
                              {% endif%}
                          {% endfor %}
                          <br/>
                      {% endif %}
                      <form action="{% url 'rides:request_ride' group.id %}" method="post">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary" value="Request"/>
                      </form>
                  {% endif %}
              {% endif %}
          </div>
      </div>
  </div>
</div>


<script>
   function displayChhoice(ownerChoice) {
       var i;
       var x = document.getElementsByClassName("ownerOption");
       for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
       }
       document.getElementById(ownerChoice).style.display = "block";
   }

  var header = document.getElementById("swap-bar");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
</body>
</html>



<!-- <h2>{{ group.owner.first_name }} {{ group.owner.last_name }}</h2>
<h3>{{ group.car.car_name }}</h3>
<b>{{ group.car.car_number }}</b>
<br/>
<br/>


<h2>Your Requests</h2>
{% if user_id in trip1_members %}
    <b>You are already a member in this group</b>
{% else %}
    {% if requests %}
        {% for request in requests %}
            <u><b>{{ forloop.counter }}.)</b>
            {% if request.trip_type == 1 %}
                <b>Enroute</b>
            {% else %}
                <b>Return</b>
            {% endif %}
          </u>
            <br/>
            <b>Requested Point : </b> {{ request.point.point_name }}
            <br/>

            <b>Starting Time : </b>
            {% if request.trip_type == 1 %}
                {{ request.group.trip1_time }}
            {% else %}
                {{ request.group.trip2_time }}
            {% endif %}
            <br/>
            <form method="post">
                {% csrf_token %}

                <input type='hidden' name="request_id" value="{{ request.id }}"/>
                <input type="submit" value="Delete" name='delete_request'/>
            </form>
            <br/>
        {% endfor %}
    {% else %}
        <b>You haven't requested in this group</b>
    {% endif %}
{% endif %}


<h2>Enroute</h2>
{% if user_id in trip1_members_list %}
    <b>Starting Point</b> : {{ group.end_point.point_name }} <br/>
    <b>Starting Time</b> : {{ group.trip1_time }}<br/>
    <b>Payment Status</b> :
    {% if group.pay_status == 0 %}
        No Pay
    {% else %}
        paid
    {% endif %}
    <br/>
    <form method="post">
        {% csrf_token %}
    {% if trip1_members %}
        <b>You are pooling with :</b>
        <br/>
        {% for member in trip1_members %}
            {% if member.user.id != user_id%}
                {{member.user.first_name}} {{ member.user.last_name }}
                <br/>
            {% else %}
                <input type='hidden' name="member_id" value="{{ member.id }}"/>
            {% endif%}
        {% endfor %}
        <br/>
    {% endif %}
        <input type="submit" value="Leave Group" name='leave_trip'/>
    </form>
{% else %}
    <b>Ride Availability</b> : {{ trip1_status }}
    <br/>
    {% if trip1_status == 'Available' %}
        <b>Starting Point</b> : {{ group.start_point.point_name }} <br/>
        <b>Starting Time</b> : {{ group.trip1_time }} <br/>
        <b>Payment Status</b> :
        {% if group.pay_status == 0 %}
            No Pay
        {% else %}
            paid
        {% endif %}
        <br/>
        <b>Available Seats</b> : {{ available_seats_trip1 }}
        <br/>
        {% if trip1_members %}
            <b>Pooling with :</b>
            <br/>
            {% for member in trip1_members %}
                {% if member.user.id != user_id%}
                    {{member.user.first_name}} {{ member.user.last_name }}
                    <br/>
                {% endif%}
            {% endfor %}
            <br/>
        {% endif %}
        <form action="{% url 'rides:request_ride' group.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Request"/>
        </form>
    {% endif %}
{% endif %}


<h2>Return</h2>
{% if user_id in trip2_members_list %}
    <b>Destination</b> : {{ group.end_point.point_name }} <br/>
    <b>Starting Time</b> : {{ group.trip2_time }}<br/>
    <b>Payment Status</b> :
    {% if group.pay_status == 0 %}
        No Pay
    {% else %}
        paid
    {% endif %}
    <br/>
    <form method="post">
        {% csrf_token %}
    {% if trip2_members %}
        <b>You are pooling with :</b>
        <br/>
        {% for member in trip2_members %}
            {% if member.user.id != user_id%}
                {{member.user.first_name}} {{ member.user.last_name }}
                <br/>
            {% else %}
                <input type='hidden' name="member_id" value="{{ member.id }}"/>
            {% endif%}
        {% endfor %}
        <br/>
    {% endif %}
        <input type="submit" value="Leave Group" name='leave_trip'/>
    </form>
{% else %}
    <b>Ride Availability</b> : {{ trip2_status }}
    <br/>
    {% if trip2_status == 'Available' %}
        <b>Destination</b> : {{ group.end_point.point_name }} <br/>
        <b>Starting Time</b> : {{ group.trip2_time }} <br/>
        <b>Payment Status</b> :
        {% if group.pay_status == 0 %}
            No Pay
        {% else %}
            paid
        {% endif %}
        <br/>
        <b>Available Seats</b> : {{ available_seats_trip2 }}
        <br/>
        {% if trip2_members %}
            <b>Pooling with :</b>
            <br/>
            {% for member in trip2_members %}
                {{member.user.first_name}} {{ member.user.last_name }}
                <br/>
            {% endfor %}
            <br/>
        {% endif %}
        <form action="{% url 'rides:request_ride' group.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Request"/>
        </form>
    {% endif %}
{% endif %} -->
