<h2>{{ group.owner.first_name }} {{ group.owner.last_name }}</h2>
<h3>{{ group.car.car_name }}</h3>
<b>{{ group.car.car_number }}</b>
<br/>
<br/>

<form method="post">
    {% csrf_token %}
    <b>{{ form.trip_type.label }}</b> : {{ form.trip_type }}
    <br/>
    {{ form.trip_type.help_text }}
    <br/>
    <br/>
    <b>{{ form.point.label }}</b> : {{ form.point }}
    <br/>
    {{ form.point.help_text }}
    <br/>
    <b>{{ error_message }}</b>
    <br/>
    <input type="submit" value="Request Ride" name="request"/>
</form>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Cancel" name="cancel"/>
</form>
